<h1>Track your burgers!</h1>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-phone">
    </div>
      <div class="mdl-cell mdl-cell--5-col mdl-cell--5-col-tablet mdl-cell--1-phone">
      <h2>Burgers I want to eat!</h2>
    <!-- CREATES AN DOM FOR EACH OBJECT IN THE TABLE burgers -->
    {{#each burgers}}
      {{#unless this.devoured}}
          <div class="wide-card mdl-card mdl-shadow--8dp">
              <div class="mdl-card__title">
                 <h2 class="mdl-card__title-text">{{this.burger}}</h2>
              </div>
              <div class="mdl-card__supporting-text">
                 Placeholder
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <form action="/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devoured" value="true">
                    <button type="submit" class ='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' id='submit-btn'> <i class="material-icons">restaurant_menu</i> </button>
                </form>
          <!-- THIS NEXT LINE REFERENCES THE PARTIAL AT FILE PATH burgers/delete-burgers.handlebars -->
                {{> burgers/delete-burgers}}
              </div>
           </div>
           <br>
      {{/unless}}
    {{/each}}
    </div>
    <div class="mdl-cell mdl-cell--5-col mdl-cell--5-col-tablet mdl-cell--1-phone">
  <h2>Burgers I have eaten!</h2>
    {{#each burgers}}
      {{#if this.devoured}}
    <div class="wide-card mdl-card mdl-shadow--8dp">
        <div class="mdl-card__title">
           <h2 class="mdl-card__title-text">{{this.burger}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
           Placeholder
        </div>
        <div class="mdl-card__actions mdl-card--border">
          
    <!-- THIS NEXT LINE REFERENCES THE PARTIAL AT FILE PATH burgers/delete-burgers.handlebars -->
          {{> burgers/delete-burgers}}
        </div>
     </div>
     <br>
      {{/if}}
    {{/each}}
    </div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-phone">
      </div>
    <br>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-phone">
      <h2>Add a Burger</h2>
    </div>
    <div class="wide-card mdl-card mdl-shadow--8dp">
      <form role='form' class="create-update-form" action="/" method="POST">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="add-burger" name="burger">
          <label class="mdl-textfield__label" for="burger-div">Add a Burger...</label>
        </div>
        <div class="checkboxgroup">
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="eaten-no">
            <input type="radio" id="eaten-no" class="mdl-radio__button " name="devoured" value="0">
            <span class="mdl-radio__label">Not Eaten
            </span>
          </label>
          <br>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="eaten-yes">
            <input type="radio" id="eaten-yes" class="mdl-radio__button " name="devoured" value="1">
            <span class="mdl-radio__label">Eaten
            </span>
          </label>
        </div>
        <button type="submit" class ='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' id='submit-btn'> Submit </button>
      </form>
    </div>
  </div>
</div>